rbac:
  create: false

sources:
  - ingress
  - service

aws:
  region: ${AWS_REGION}
  zoneType: public

domainFilters: ${DOMAIN_FILTERS}

# leverage IRSA.
podSecurityContext:
    runAsUser: 0
    fsGroup:   65534
