[Unit]
Description=Todo Application as a Service
[Service]
User=springtodo
#path to the executable bash script which executes todo app
ExecStart=/bin/bash /opt/todo/bootstrap.sh
SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5
